<center><font color="orange" size="6"><strong>Les données structurées au format CSV (2nde partie)</strong></font></center>
<br>
<center><font color="orange" size="6">① Lecture &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;② requêtes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;③ Tris</font></center>
<br>



---

<center><font color="orange" size="6"><b>TP d'application</b></font></center>


---

⏬ Téléchargez maintenant le fichier [villes.csv](https://ericecmorlaix.github.io/1NSI_2022-2023/villes.csv) puis importez le dans le même dossier que ce notebook. Il est trop volumineux pour un affichage rapide.... vous allez devoir travailler dessus pour savoir ce qu'il contient !

Nous reprenons la fonction readCSV du [1er TP](Data_CSV-1.ipynb)

In [4]:
import csv
def readCSV( filename:str ) -> list :
    '''
    Entrée : nom d'un fichier CSV ;
    Sortie : la fonction renvoie les données lues dans une liste de dictionnaires et affiche le nombre d'enregistrements ;
    '''
    with open(filename, mode = "r" , encoding='utf-8' , newline = '') as csvFile :
        reader = csv.DictReader(csvFile)
        lu = [dict(ligne) for ligne in reader]
    print(f'Il y a {len(lu)} enregistrements (lignes) lus dans cette table')
    return lu

<font color="orange" size="4">➽ Lire villes.csv et  créer la liste <u>*villes*</u> en utilisant notre fonction readCSV() :</font>

In [5]:
# Avec la fonction readCSV() 
help(readCSV)
villes = readCSV('villes.csv')

Help on function readCSV in module __main__:

readCSV(filename: str) -> list
    Entrée : nom d'un fichier CSV ;
    Sortie : la fonction renvoie les données lues dans une liste de dictionnaires et affiche le nombre d'enregistrements ;

Il y a 36700 enregistrements (lignes) lus dans cette table

<font color="orange" size="4">➽ Affichez toutes les infos de la première ville du fichier :</font>

In [6]:
# votre code
print(villes[0])

{'dep': '1', 'nom': 'Ozan', 'cp': '1190', 'nb_hab_2010': '618', 'nb_hab_1999': '469', 'nb_hab_2012': '500', 'dens': '93', 'surf': '6.6', 'long': '4.91667', 'lat': '46.3833', 'alt_min': '170', 'alt_max': '205'}

> **Résultat attendu** :
>```
{'dep': '1',
 'nom': 'Ozan',
 'cp': '1190',
 'nb_hab_2010': '618',
 'nb_hab_1999': '469',
 'nb_hab_2012': '500',
 'dens': '93',
 'surf': '6.6',
 'long': '4.91667',
 'lat': '46.3833',
 'alt_min': '170',
 'alt_max': '205'}
 ```

<font color="orange" size="4">➽ Affichez le nombre de villes:</font>

In [7]:
# votre code
len(villes)

Il y a 36700 enregistrements (lignes) lus dans cette table

> **Résultat attendu** :
>```
36700
 ```

<font color="orange" size="4">➽ Affichez les noms de toutes les villes de plus de 300000 habitants en 2012: 

(vous précéderez du nombre de ces villes)</font>

In [21]:
villes300k2012 = [ville['nom'] for ville in villes if int(ville['nb_hab_2012']) > 300000]
print(f'En 2012, il y avait {len(villes300k2012)} villes de plus de 300000 habitants :')
for nom_ville in villes300k2012:                      
    print(f' - {nom_ville}')

En 2012, il y avait 5 villes de plus de 300000 habitants :
 - Nice
 - Marseille
 - Toulouse
 - Lyon
 - Paris

> **Résultat attendu** :
>```
>En 2012, il y avait 5 villes de plus de 300000 habitants :
> - Nice
> - Marseille
> - Toulouse
> - Lyon
> - Paris
> ```

<font color="orange" size="4">➽ Affichez les noms et le nombre d'habitants de toutes les villes de plus de 300000 habitants en 2012 : 

(vous précéderez du nombre de ces villes et vous afficherez des tuples)</font>

In [25]:
villes300k2012tuples = [(ville['nom'], ville['nb_hab_2012']) for ville in villes if int(ville['nb_hab_2012']) > 300000]
print(f'En 2012, il y avait {len(villes300k2012tuples)} villes de plus de 300000 habitants :')
for nom_ville in villes300k2012tuples:                      
    print(f' - {nom_ville}')

En 2012, il y avait 5 villes de plus de 300000 habitants :
 - ('Nice', '344900')
 - ('Marseille', '851400')
 - ('Toulouse', '439600')
 - ('Lyon', '474900')
 - ('Paris', '2211000')

> **Résultat attendu** :
>```
En 2012, il y avait 5 villes de plus de 300000 habitants :
('Nice', '344900')
('Marseille', '851400')
('Toulouse', '439600')
('Lyon', '474900')
('Paris', '2211000')
```

<font color="orange" size="4">➽ Refaire la même chose, mais cette fois en créant une liste de dictionnaires: 

(vous précéderez du nombre de ces villes et vous afficherez des dictionnaires)</font>

In [27]:
villes300k2012dict = [{'nom': ville['nom'], 'nb_hab_2012': ville['nb_hab_2012']} for ville in villes if int(ville['nb_hab_2012']) > 300000]
print(f'En 2012, il y avait {len(villes300k2012dict)} villes de plus de 300000 habitants :')
for nom_ville in villes300k2012dict:                      
    print(nom_ville)

En 2012, il y avait 5 villes de plus de 300000 habitants :
{'nom': 'Nice', 'nb_hab_2012': '344900'}
{'nom': 'Marseille', 'nb_hab_2012': '851400'}
{'nom': 'Toulouse', 'nb_hab_2012': '439600'}
{'nom': 'Lyon', 'nb_hab_2012': '474900'}
{'nom': 'Paris', 'nb_hab_2012': '2211000'}

> **Résultat attendu** :
>```
En 2012, il y avait 5 villes de plus de 300000 habitants :
{'nom': 'Nice', 'nb_hab_2012': '344900'}
{'nom': 'Marseille', 'nb_hab_2012': '851400'}
{'nom': 'Toulouse', 'nb_hab_2012': '439600'}
{'nom': 'Lyon', 'nb_hab_2012': '474900'}
{'nom': 'Paris', 'nb_hab_2012': '2211000'}
```

<font color="orange" size="4">➽ Triez la liste villes300k2012tuples de la plus à la moins peuplée : 
</font>

In [ ]:
# il faut définir une fonction clef() qui prend un tuple et renvoie l'élément d'indice souhaité pour le tri
# puis sort(key=clef(tuple))...) comme pour trier une liste de dictionnaire

In [31]:
# Créez  2 clés avec notre dictionnaire

def cle_villes300k2012tuples(dico) :
    return int(dico['villes300k2012tuples'])

villes.sort(key = villes300k2012tuples)

for ville in villes:
    print('En 2012, il y avit 5 villes de plus de 300000 habitants : 'ville)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3268204647.py, line 9)

> **Résultat attendu** :
>```
En 2012, il y avait 5 villes de plus de 300000 habitants :
('Paris', '2211000')
('Marseille', '851400')
('Lyon', '474900')
('Toulouse', '439600')
('Nice', '344900')
```

<font color="orange" size="4">➽ Triez de même la liste villes300k2012dict de la plus à la moins peuplée : 
</font>

In [ ]:
# à vous

> **Résultat attendu** :
>```
En 2012, il y avait 5 villes de plus de 300000 habitants :
{'nom': 'Paris', 'nb_hab_2012': '2211000'}
{'nom': 'Marseille', 'nb_hab_2012': '851400'}
{'nom': 'Lyon', 'nb_hab_2012': '474900'}
{'nom': 'Toulouse', 'nb_hab_2012': '439600'}
{'nom': 'Nice', 'nb_hab_2012': '344900'}
```

<font color="orange" size="4">➽ Affichez les noms et nombres d'habitants en 2012 triés par ordre décroissant des villes situées au Finistère comptant plus de 10000 âmes : 

(vous précéderez du nombre de ces villes et vous afficherez des dictionnaires) :

</font>

In [ ]:
villesPlus10k_29 = ...

> **Résultat attendu** :
>```
En 2012, il y avait 11 villes de plus de 10000 habitants au Finistère :
{'nom': 'Brest', 'nb_hab_2012': '142100'}
{'nom': 'Quimper', 'nb_hab_2012': '63900'}
{'nom': 'Concarneau', 'nb_hab_2012': '20100'}
{'nom': 'Morlaix', 'nb_hab_2012': '15600'}
{'nom': 'Douarnenez', 'nb_hab_2012': '15100'}
{'nom': 'Landerneau', 'nb_hab_2012': '15000'}
{'nom': 'Guipavas', 'nb_hab_2012': '13800'}
{'nom': 'Plougastel-Daoulas', 'nb_hab_2012': '13100'}
{'nom': 'Plouzané', 'nb_hab_2012': '11700'}
{'nom': 'Quimperlé', 'nb_hab_2012': '11100'}
{'nom': 'Le Relecq-Kerhuon', 'nb_hab_2012': '10800'}
```

### Rappel affichage en MarkDown :

La fonction `Markdown()` du module `IPython.display` permet d'afficher directement une chaine de caractères écrite en langage **Markdown** :

In [13]:
# exemple de script pour un affichage en MarkDown dans 
from IPython.display import Markdown

S = "| d | b | h |" + "\n"
S += "|:-:" * 3 + "|" + "\n"

for i in range(16) :
    S += f"| {i} | {bin(i)} | {hex(i)} |" + "\n"

Markdown(S)

| d | b | h |
|:-:|:-:|:-:|
| 0 | 0b0 | 0x0 |
| 1 | 0b1 | 0x1 |
| 2 | 0b10 | 0x2 |
| 3 | 0b11 | 0x3 |
| 4 | 0b100 | 0x4 |
| 5 | 0b101 | 0x5 |
| 6 | 0b110 | 0x6 |
| 7 | 0b111 | 0x7 |
| 8 | 0b1000 | 0x8 |
| 9 | 0b1001 | 0x9 |
| 10 | 0b1010 | 0xa |
| 11 | 0b1011 | 0xb |
| 12 | 0b1100 | 0xc |
| 13 | 0b1101 | 0xd |
| 14 | 0b1110 | 0xe |
| 15 | 0b1111 | 0xf |

<font color="orange" size="4">➽ Reprendre l'affichage des noms et nombres d'habitants en 2012 triés par ordre décroissant des villes situées au Finistère comptant plus de 10000 âmes pour obtenir un tableau tel que : 
</font>

En 2012, il y avait **11** villes de plus de 10000 habitants au Finistère :

| Ville | Habitants |
|:-|-:|
| Brest | 142100 |
| Quimper | 63900 |
| Concarneau | 20100 |
| Morlaix | 15600 |
| Douarnenez | 15100 |
| Landerneau | 15000 |
| Guipavas | 13800 |
| Plougastel-Daoulas | 13100 |
| Plouzané | 11700 |
| Quimperlé | 11100 |
| Le Relecq-Kerhuon | 10800 |

Deux dernières petites choses : il est aussi possible d'ajouter des colonnes, et bien sur aussi d'enregistrer notre travail !

<font color="orange" size="6">➽ Ajouter une colonne</font>

In [14]:
# ajoutons une clé à nos dictionnaires
# soit une colonne si on enrengistre ensuite
for v in villes :
    v['diff2012_2010'] = int(v['nb_hab_2012']) - int(v['nb_hab_2010'])
villes[0]

{'dep': '1',
 'nom': 'Ozan',
 'cp': '1190',
 'nb_hab_2010': '618',
 'nb_hab_1999': '469',
 'nb_hab_2012': '500',
 'dens': '93',
 'surf': '6.6',
 'long': '4.91667',
 'lat': '46.3833',
 'alt_min': '170',
 'alt_max': '205',
 'diff2012_2010': -118}

<font color="orange" size="4">➽ Ecrivez un script pour afficher les informations suivantes :</font>

> ```
>Il y a 14956 villes dont la population a augmenté entre 2010 et 2012 :
> - la plus forte hausse est de +3303 pour Le Havre ;
> - la variation totale de population pour ces villes en croissance est de 627487 ;
> - la variation totale de population pour l'ensemble des villes Françaises est de -621369.
>```

In [ ]:
# trier la liste des villes par diff décroissant

# extraire les ville ou la diff est >=0
# (on pourra se contenter de tuples)

# afficher le nb_hab de la 1ere ville

# extraire la colonne diff dans une liste et faire la somme

# faire la somme des diff de toutes les villes

<font color="orange" size="6">➽ Modifier une colonne</font>

Il est possible de modifer les éléments d'une colonne :

- on parcours la liste
- pour chaque élément, on modifie la colonne

In [ ]:
# exemple : on va ajouter 1 habitant dans toutes les villes :

print("avant :")
for i in range(5) :
    print(f" - {villes[i]['nom']} : {villes[i]['nb_hab_1999']}")

# modification :
for v in villes :
    v['nb_hab_1999'] = str( int(  v['nb_hab_1999'] ) + 1 )


print('----------------------')
print("après :")
for i in range(5) :
    print(f" - {villes[i]['nom']} : {villes[i]['nb_hab_1999']}")

<font color="orange" size="6">➽ Modifier le type d'une ou plusieurs colonnes</font>

Dans l'exemple précédent, on a converti en `int` puis reconverti en `str`.

C'est un peu lourd et finalement, il serait plutôt judicieux de convertir en `int` ou `float` les colonnes numériques.

Téléchargez puis importez le fichier [libCSV0.py](libCSV0.py)

Il contient une librairie (très limitée) de fonctions de traitement de listes de dictionnaires. Nous examinerons son contenu ultérieurement, nous allons d'abord voir comment utiliser une librairie en s'appuyant seulement sur `help()`

In [ ]:
from  libCSV0 import *

help(setColType)

<font color="orange" size="4">➽ Utilisez la fonction setColType pour convertir en int une colonne</font>

Convertir en `int` la colonnes `'nb_hab_1999'` :

In [ ]:
# votre code

In [ ]:
assert type(villes[0]['nb_hab_1999']) == int
print("Si ce message s'affiche c'est que le test unitaire c'est bien passé...")

<font color="orange" size="6">➽ Enregistrer le travail</font>

In [15]:
# on extrait une portion du fichier :
vPlus = [(v['nom'],v['nb_hab_2010'],v['nb_hab_2012'],v['diff2012_2010']) for v in villes if v['diff2012_2010'] > 0 ]

# et on enregistre :
with open('villes_hausse2012.csv', 'w', newline='') as csvfile:
    fieldnames = ['nom', 'nb_hab_2010', 'nb_hab_2012','diff2012_2010']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer.writeheader()
    for v in vPlus :
        writer.writerow({'nom': v[0], 'nb_hab_2010': v[1],'nb_hab_2012':v[2] ,'diff2012_2010':v[3]})

> Ouvrir le fichier `villes_hausse2012.csv` créé dans le même dossier que ce notebook pour vérifier.


<center>

---

*Auteurs* :  **Jean-Louis Thirot - Mireille Coilhac**
    
Adaptation Finistérienne par <a href="mailto:eric.madec@ecmorlaix.fr">Eric MADEC</a> avec `f-string` et affichage `MarkDown`     

Publié sous licence CC BY-NC-SA


---
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" width="200" src="https://s2.qwant.com/thumbr/700x0/f/9/436dcce5e02185c0b2e1b0e7a969aa81d7b0438d0a7f2eaee89abb9661b70b/cc-by-nc-sa.svg_.png?u=http%3A%2F%2Fopensiddur.org%2Fwp-content%2Fuploads%2F2011%2F03%2Fcc-by-nc-sa.svg_.png&q=0&b=1&p=0&a=1" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.